
/* Reglas del header*/
h1{display:none;}
/*Reglas del login*/
.formulario fieldset {width: 300px; padding: 10px;}
.formulario legend {font-weight: bold;}
.formulario label {display: block; width: 100px;}
.formulario input {float: none; display: inline;}
.centrado {margin: 10px 50px;}
.registro1 a:link{color:blue;}

.registro1 a:active{color:blue;font-weight: bold;}
.registro1 a:visited{color:blue}



#fbusqueda fieldset {width: 300px; padding: 10px;}
#login fieldset{width: 50px; padding: 10px;}


/*Reglas del menu principal de navegacion*/
.menu li{
	visibility: hidden;
	display: inline;
		margin:0;
		padding:0;
		}

.menu ul{
text-align: center;}

.menu a{
		margin:0;
		color: white;
		text-decoration: underline;
		padding: .2em 1em;
		}


/*--------------------------*/
.ultimasfotos li{
display: inline;
list-style-type: none;
padding-right: 5px;
}
h1{
	font-family: Arial;
	font-size: 2em
}

/* Reglas del body*/

body{
	font-family: Arial;
	font-size: 1em;
	}

img
{
	width: 200px;
	height: 200px;
}

input{
/*Para cualquier formulario*/
	border-radius: 5px;
	border:0;
}
hr{
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	}
/* Reglas del footer*/
footer{ 
	text-align: center;
	margin-top:50px; 
	font-family:"Times New Roman"; 
	font-size:1.1em
}
/* Reglas extras*/
a {text-decoration:underline}
ul{ list-style-type:none;}
li a:link {color:blue}
li a:visited{color:blue}
li a{ text-decoration: underline;}
#infoRegistro{text-align:center;}
#registro {  
	margin: 0 auto;
	width:400px;
  }
#fbusqueda {
	margin: 0 auto;
	width:300px}
#imagenesBusqueda img {
margin: 20px;
border: 5px solid #eee;
-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}
#imagenesBusqueda img:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}

.detalleFoto {
	width:450px;
    margin-left: auto;
    margin-right: auto;}
.detalleFoto li{
	text-align: center;}
.detalleFoto img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}